<form name="form">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">General
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div class="form-group">
            <label for="name">
              Nombre:
            </label>
            <input class="form-control" name="name" type="text" placeholder="Nombre" ng-model="selectedPlace.name" required ng-maxlength="80"/>
            <div ng-show="form.name.$error.required" class="alert alert-danger">
              No puede ser vacio
            </div>
            <div ng-show="form.name.$error.maxlength" class="alert alert-danger">
              No puede tener más de 80 caracteres
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input name="active" type="checkbox" ng-model="selectedPlace.is_active"/>
                Se encuentra activo
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="visits">
              Visitas diarias:
            </label>
            <input class="form-control" name="visits" type="number" placeholder="0" min="0" ng-model="selectedPlace.daily_visits" integer/>
            <div ng-show="form.visits.$error.integer" class="alert alert-danger">
              No es un número entero
            </div>
          </div>
          <div class="form-group">
            <label for="status">
              Status:
            </label>
            <input class="form-control" name="status" type="number" ng-model="selectedPlace.status"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Descripción
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div class="form-group">
            <label for="description">Descripción:
            </label>
            <textarea class="form-control" name="description" rows="5" placeholder="Descripción" ng-model="selectedPlace.description" ng-maxlength="800"></textarea>
            <div ng-show="form.description.$error.maxlength" class="alert alert-danger">
              La descripción no puede tener más de 800 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Contacto
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div>
            <div class="form-group">
              <label for="email">
                Email:
              </label>
              <input class="form-control" name="email" type="email" placeholder="email" ng-model="selectedPlace.email" required/>
              <div ng-show="form.email.$error.required" class="alert alert-danger">
                No puede ser vacio
              </div>
              <div ng-show="form.email.$error.email" class="alert alert-danger">
                Email no válido
              </div>
            </div>
            <div class="form-group">
              <label for="phone_number">
                Teléfono:
              </label>
              <input class="form-control" name="phone_number" type="number" placeholder="569 1234 5678" ng-model="selectedPlace.phone_number" ng-maxlength="11" ng-minlength='11' integer/>
              <p class="help-block">Debe ser ingresado en este formato: 569 1234 5678</p>
            </div>
            <div ng-show="form.phone_number.$error.integer || form.phone_number.$error.maxlength || form.phone_number.$error.minlength" class="alert alert-danger">
              No es un teléfono válido
            </div>
            <div ng-show="form.phone_number.$error.maxlenght" class="alert alert-danger">
              No es un teléfono válido
            </div>
            <div class="form-group">
              <label for="contact_name">
                Nombre de contacto:
              </label>
              <input class="form-control" name="contact_name" type="text" placeholder="Nombre" ng-model="selectedPlace.contact_name" ng-maxlength="80"/>
              <div ng-show="form.contact_name.$error.maxlength" class="alert alert-danger">
                No puede tener más de 80 caracteres
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
