<form name="form">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">General
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body" ng-init='loadAccesables()'>
          <div class="form-group">
            <label for="username">
              Usuario:
            </label>
            <input class="form-control" name="username" type="text" placeholder="Usuario" ng-model="selectedUser.username" ng-change="isUnique()" required ng-maxlength="80"/>
            <div ng-show="form.username.$error.required" class="alert alert-danger">
              No puede ser vacio
            </div>
            <div ng-show="form.username.$error.maxlength" class="alert alert-danger">
              No puede tener más de 80 caracteres
            </div>
            <div ng-show="loadingIsUnique" class="alert alert-warning">
              <i class="fa fa-spinner fa-pulse fa-fw "></i>
            </div>

            <div ng-show="!form.username.$error.required && !usernameUnique && !loadingIsUnique && usernameChanged" class="alert alert-warning">
              El usuario
              {{selectedUser.username}}
              ya est&aacute; registrado
            </div>
          </div>

          <%if(!locals.edit) { %>
            <div class="form-group">
              <label for="password">
                Contrase&ntilde;a:
              </label>
              <input class="form-control" name="password" type="password" placeholder="*******" ng-model="selectedUser.password" required ng-maxlength="80" ng-minlength="6"/>
              <div ng-show="form.password.$error.required" class="alert alert-danger">
                No puede ser vacio
              </div>
              <div ng-show="form.password.$error.maxlength" class="alert alert-danger">
                No puede tener m&aacute;s de 80 caracteres
              </div>
              <div ng-show="form.password.$error.minlength" class="alert alert-danger">
                No puede tener menos de 6 caracteres
              </div>
            </div>
            <div class="form-group">
              <label for="password">
                Repetir Contrase&ntilde;a:
              </label>
              <input class="form-control" ng-model='password_verify' type="password" name='confirm_password' placeholder='******' required>
              <div ng-show="form.confirm_password.$error.required" class="alert alert-danger">
                No puede ser vacio
              </div>
              <div ng-show="!passwordMatch()" class="alert alert-danger">
                Contrase&ntilde;a son diferentes
              </div>

            </div>
          <% }%>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input name="active" type="checkbox" ng-model="selectedUser.is_active"/>
                Se encuentra activo
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input name="active" type="checkbox" ng-model="selectedUser.is_admin"/>
                Es administrador
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="type">
              Tipo de usuario:
            </label>
            <input class="form-control" name="type" type="number" ng-model="selectedUser.type"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Descripción
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div class="form-group">
            <label for="description">Descripción:
            </label>
            <textarea class="form-control" name="description" rows="5" placeholder="Descripción" ng-model="selectedUser.description" ng-maxlength="800"></textarea>
            <div ng-show="form.description.$error.maxlength" class="alert alert-danger">
              La descripción no puede tener más de 800 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Contacto
          </h4>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div>
            <div class="form-group">
              <label for="email">
                Email:
              </label>
              <input class="form-control" name="email" type="email" placeholder="email" ng-model="selectedUser.email" required/>
              <div ng-show="form.email.$error.required" class="alert alert-danger">
                No puede ser vacio
              </div>
              <div ng-show="form.email.$error.email" class="alert alert-danger">
                Email no válido
              </div>
            </div>
            <div class="form-group">
              <label for="name">
                Nombre de contacto:
              </label>
              <input class="form-control" name="name" type="text" placeholder="Nombre Apellido" ng-model="selectedUser.name" ng-maxlength="80"/>
              <div ng-show="form.name.$error.maxlength" class="alert alert-danger">
                No puede tener más de 80 caracteres
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(user.is_admin) {%>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Permisos
          </h4>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="form-group">
            <label>
              Dar permiso y acceso a:</label>
            <div ng-show="!accessWellDefined()" class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Debe indicar que tipo de acceso desea dar y a que
            </div>
            <div ng-if="loadingAccesables" class="center-text big-text top-margin-10px">
              <i class="fa fa-spinner fa-pulse fa-fw "></i>
            </div>
            <div ng-if="!loadingAccesables" ng-repeat="i in accessTo" class="row top-margin-10px">

              <div class="col-sm-12 col-md-12 col-lg-3">
                <select ng-model="i.in" name="accessTo" required>
                  <option value="places" selected>Lugar</option>
                  <option value="surveys">Encuesta</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <select ng-model="i.to" name="accessTo" required>
                  <option ng-if="i.in === 'places' && true" value="{{p.id}}" ng-repeat="p in places" ng-selected="i.to === p.id" >{{p.name}} </option>
                  <option ng-if="i.in === 'surveys' && isAvailable(i, s)" value="{{s.id}}" ng-repeat="s in surveys" ng-selected="i.to === s.id" >{{s.title}}</option>
                </select>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-4">
                <select title="Seleccione permiso" ng-model="i.accessType">
                  <option value="r" selected>Lectura</option>
                  <option value="r/w">Escritura y Lectura</option>
                </select>
              </div>
              <span class="delete-select red center-text col-sm-12 col-md-2 col-lg-1" ng-click="removeAccess($index)">
                Eliminar</span>
            </div>
          </div>

          <div ng-if="!loadingAccesables" class=" green center-text" ng-click="addNewAccess()">
            <p ng-if="accessTo.length == 0">
              No has otorgado permisos, click
              <b>Aqu&iacute;</b>
              para agregar uno
            </p>
            <p ng-if="accessTo.length != 0">
              Agregar otro permiso
            </p>
          </div>
        </div>

        <% if (locals.edit ){ %>
        <div ng-init="loadCurrentAccessables()"></div>
        <% } %>
      </div>
    </div>
  </div>
  <%}%>

</form>
