/* public/style.css */

html, body, section, .full-height {
    height: 100%;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border: 1px solid black;
}

.screen {
  margin: 50px;
  background-color: white;

  width: 375px;
  height: 667px;
  max-width: 375px;
  max-height: 667px;
  overflow: scroll;
  padding: 30px;

}

.hotspot {
  height: 100%;
  width: 100%;
}

.hotspot  img {
  width: 100%;
}
