/* public/style.css */

html, body, section, .full-height {
    height: 100%;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border: 1px solid black;
}

.screen {
  margin: 50px;
  background-color: white;

  width: 375px;
  height: 667px;
  max-width: 375px;
  max-height: 667px;
  overflow: scroll;
  padding: 30px;

}

.hotspot {
  height: 100%;
  width: 100%;
}

.hotspot  img {
  width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
