select{
  background-color: white;
  height: 35px;
  margin-top: 8px;
  width: 100%;
  border-color: #CCC;
}

.delete-select{
  margin-top: 8px;
  padding-top: 8;
  height: 35px;
}

hr{
  color: black;
}
