<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <input class="form-control" ng-model='question.title' placeholder="Ingrese Enunciado">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">Alternativas</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="radio" ng-repeat="option in question.options">
            <div class="form-group input-group">
                <!-- Add the corresponding letter-->
                <span class="input-group-addon"> {{ question.options.indexOf(option) + 1 | character}})</span>
                <!-- If there is no option, the placeholder will be of this format: opcion A -->

                <input type="text" class="form-control" ng-model="option.statement" placeholder="opción {{ question.options.indexOf(option) + 1 | character}}">
                <span class="input-group-addon" ng-click="deleteOption(question, option)">X</span>
            </div>
        </div>
        <h6 class="empty-list" ng-if="question.options.length == 0">
            No hay posibles respuestas. Elija bajo en 'Agregar alternativa' para agregar una alternativa.
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="btn btn-default" ng-click="addOption(question)">Agregar alternativa</button>
    </div>
</div>
