<!DOCTYPE html>
<html ng-app="accionet-web-app">
  <head>
    <title>Hotspot</title>
    <link href="/stylesheets/hotspot_render.css" rel="stylesheet">
    <%= include ../partials/head.ejs %>
    <link href="/vendor/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <script src="/vendor/jquery/jquery.min.js"></script>
  </head>
  <body class="container-fluid" ng-controller="newHotspotController">

    <div class="example-content well row big-text" >
      <span class="change_size" data-width='375' data-height='667' data-name="mobile">
        <i class="fa fa-mobile" aria-hidden="true"></i>
      </span>
      <span class="change_size" data-width='800' data-height='600' data-name="tablet">
        <i class="fa fa-tablet" aria-hidden="true"></i>
      </span>
      <span class="change_size" data-width='1098' data-height='618' data-name="computer">
        <i class="fa fa-desktop" aria-hidden="true"></i>
      </span>
      <span class="rotate">
        <i class="fa fa-rotate-right" aria-hidden="true"></i>
      </span>
    </div>
    <div style="min-height: 1000px" id="hotspotSection" class="col-lg-6">
      <img id="mobile-border" class="screen-border" src="/images/iphoneborderblack.png" height="920" width="440" alt='mobile border'/>
      <img id="tablet-border" class=" screen-border hidden" src="/images/ipadborder.png" height="820" width="1105" alt='tablet border'/>
      <img id="computer-border" class=" screen-border hidden" src="/images/computerborder.png" height="955" width="1200" alt='computer border'/>
      <div class="screen" id="hotspotContainer"></div>
    </div>
    <section id="attrChangeSection" class="col-lg-6">
      <div class="example-content well">

        <div class="btn btn-default btn-file">
          Cambiar imagen
          <input type="file" class="file-upload" data-key="IMAGE-PATH">
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar ancho de la imagen</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group">
              <input type="text" ng-model="imageWidth" class="form-control" ng-change="recompile('IMAGE-WIDTH', imageWidth + '%')"/>
              <span class="input-group-addon">
                %
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar color de fondo</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="backgroundColor = '#FFF'" ng-model="backgroundColor" class="form-control" ng-change="recompile('BACKGROUND-COLOR', backgroundColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar imagen de fondo</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="background-image btn btn-default btn-file">
              Cambiar imagen
              <input class="background-image file-upload" type="file" data-key="BACKGROUND-IMAGE"/>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input data-disable=".background-image" class="disable-checkbox" type="checkbox" ng-click="recompile('BACKGROUND-IMAGE','none')">
              Sin imagen de fondo
            </label>
          </div>
        </div>
      </div>

      <div class="example">
        <div class="example-title">Seleccionar color de fondo del contenedor</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="formBackgroundColor = '#FFF'" ng-model="formBackgroundColor" class="form-control" ng-change="recompile('FORM-BACKGROUND-COLOR', formBackgroundColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar color del texto</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="textColor = '#FFF'" ng-model="textColor" class="form-control" ng-change="recompile('TEXT-COLOR', textColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar T&iacute;tulo</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <input type="text" ng-model="title" class="form-control" ng-change="recompile('TITLE-TEXT', title)"/>
            </div>
            <br/>
            <div class="input-group" style="width: 100%;">
              <span class="input-group-addon" ng-click="recompileSize('TITLE-SIZE', 'down')">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <input type="text" value="Tama&ntilde;o: {{current_hotspot.values['TITLE-SIZE']}}" class="form-control" readonly/>

              <span class="input-group-addon" ng-click="recompileSize('TITLE-SIZE', 'up')">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar Texto 1</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <textarea ng-model="paragraph1" class="form-control" ng-change="recompile('PARAGRAPH-1-TEXT', paragraph1)"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar Texto 2</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <textarea ng-model="paragraph2" class="form-control" ng-change="recompile('PARAGRAPH-2-TEXT', paragraph2)"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Tama&ntilde;o Texto:</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <span class="input-group-addon" ng-click="recompileSize('PARAGRAPH-SIZE', 'down')">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <input type="text" value="Tama&ntilde;o: {{current_hotspot.values['PARAGRAPH-SIZE']}}" class="form-control" readonly/>

              <span class="input-group-addon" ng-click="recompileSize('PARAGRAPH-SIZE', 'up')">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar color del bot&oacute;n</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="buttonBackgroundColor = '#FFF'" ng-model="buttonBackgroundColor" class="form-control" ng-change="recompile('BUTTON-BACKGROUND-COLOR', buttonBackgroundColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar color del borde del bot&oacute;n</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="buttonBorderColor = '#FFF'" ng-model="buttonBorderColor" class="form-control" ng-change="recompile('BUTTON-BORDER-COLOR', buttonBorderColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar color del texto del bot&oacute;n</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-init="buttonColor = '#FFF'" ng-model="buttonColor" class="form-control" ng-change="recompile('BUTTON-COLOR', buttonColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Texto del bot&oacute;n</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <input type="text" ng-model="buttonText" class="form-control" ng-change="recompile('BUTTON-TEXT', buttonText)"/>
            </div>
            <br/>
            <div class="input-group" style="width: 100%;">
              <span class="input-group-addon" ng-click="recompileSize('BUTTON-TEXT-SIZE', 'down')">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <input type="text" value="Tama&ntilde;o: {{current_hotspot.values['BUTTON-TEXT-SIZE']}}" class="form-control" readonly/>

              <span class="input-group-addon" ng-click="recompileSize('BUTTON-TEXT-SIZE', 'up')">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Seleccionar P&aacute;gina de redirecci&oacute;n</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group" style="width: 100%;">
              <span class="input-group-addon">
                https://
              </span>
              <input type="text" ng-model="landingPage" class="form-control" ng-change="recompile('LANDING-PAGE', 'https://' + landingPage)"/>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-title">Color del hiperv&iacute;nculo a t&eacute;rminos y condiciones</div>
        <div class="example-content well">
          <div class="example-content-widget">
            <div class="input-group colorpicker-component">
              <input type="text" ng-model="termAndCondColor" class="form-control" ng-change="recompile('TERMS-AND-COND-COLOR', termAndCondColor)"/>
              <span class="input-group-addon">
                <i></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
  <script>
    $(function () {
      $('.colorpicker-component').colorpicker();

      $("input[type='checkbox']").on('click', function (event) {
        var elemToDisable = $(this).data('disable');
        if (this.checked) {
          $(elemToDisable).addClass('disabled');
          $(elemToDisable).prop('disabled', true);
        } else {
          $(elemToDisable).removeClass('disabled');
          $(elemToDisable).prop('disabled', false);
        }
      })
    });
  </script>
  <% include ../partials/scripts.ejs%>
  <!-- <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script> -->
  <script src='/vendor/jquery-rotate/JQueryRotate.js'></script>
  <script src="/javascripts/hotspot/render.js"></script>
  <script src="/javascripts/hotspot/resize.js"></script>
  <script src="/javascripts/angular/controllers/hotspots/new-ng-controller.js"></script>
  <script src="/vendor/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

</html>
