<!DOCTYPE html>
<html>
  <head>
    <title>Hotspot</title>
    <% include ../partials/head.ejs %>
    <link href="/stylesheets/hotspot_render.css" rel="stylesheet">
  </head>

  <body class="container-fluid">

    <section class="row">
      <div class="col-lg-6 screen" id="markdown">
        <div class="hotspot" id="imagePrototype">
          <p class='hotspot_title'>
            Titulo
          </p>
          <img src='/images/login.jpg'/>
          <a>
            Conectar
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="btn btn-default btn-file" >
            Subir imagen <input type="file" id="image-upload">
        </div>

        <div class="big-text">
          <span class="change_size" data-width='375' data-height='667' data-name="mobile"> <i class="fa fa-mobile" aria-hidden="true"></i></span>
          <span class="change_size" data-width='1024' data-height='768' data-name="tablet"> <i class="fa fa-tablet" aria-hidden="true"></i></span>
          <span class="change_size" data-width='1280' data-height='800' data-name="computer"> <i class="fa fa-desktop" aria-hidden="true"></i></span>
          <span class="rotate" > <i class="fa fa-rotate-right" aria-hidden="true"></i></span>

        </div>


      </div>
    </section>



    <% include ../partials/scripts.ejs %>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/javascripts/js/hotspot_render.js"></script>

  </body>
</html>
