<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresar
        </title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link href="http://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form id="#myForm">
            <img class="logo" src="img/cabify.png">
            <p class="cabify-text">
                Descarga Cabify y obt&eacute;n un 25% de descuento en tu primer viaje con el c&oacute;digo XXXX
            </p>

            <a class="" href="https://play.google.com/store/apps/details?id=com.cabify.rider&hl=en">
                Google Play
            </a>
            <a class="" href="https://itunes.apple.com/us/app/cabify-your-private-driver/id476087442?mt=8">
                App Store
            </a>

            <fieldset>
                <input type="checkbox" id="terms_and_conditions" value="" name="accept_terms">
                <label class="light" for="terms_and_conditions">He leído y aceptado los
                    <a href="term_and_conditions.html" target="_blank">terminos y condiciones de uso
                    </a>
                </label><br>
            </fieldset>
            <!-- <p id="response">
              log:/
            </p> -->

        </form>
    </body>
    <script type="text/javascript" src="js/log.js"></script>
    <script type="text/javascript" src="js/ready_to_send.js"></script>
    <script type="text/javascript" src="js/counter.js"></script>
</html>
