<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
      <title>Ingresar</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta http-equiv="pragma" content="no-cache"/>
      <meta http-equiv="expires" content="-1"/>
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
        <title>Ingresar
        </title>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/normalize.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form id="#myForm">
            <img class="logo" src="img/logo.png">
            <p class="cabify-text">
                Descargar Cabify
            </p>

            <a id="android" class=" submit app" href="$(link-login-only)?dst=market://details?id=com.cabify.rider&hl=en&amp;username=T-$(mac-esc)">
                Android
            </a>
            <a id="iphone" class=" submit app" href="$(link-login-only)?dst=https://itunes.apple.com/us/app/cabify-your-private-driver/id476087442?mt=8&amp;username=T-$(mac-esc)">
                iphone
            </a>
            <a id="windows" class=" submit app" href="$(link-login-only)?dst=http://windowsphoneapks.com/APK_Cabify-Your-private-driver_Windows-Phone.html&amp;username=T-$(mac-esc)">
                Windows Phone
            </a>

            <a id="navigate" class=" only-navigate" href="$(link-login-only)?dst=https://cabify.com/chile/santiago&amp;username=T-$(mac-esc)" target="_blank">Solo quiero navegar
            </a>
            <!-- <p id="response">
              log:/
            </p> -->


        </form>
    </body>
    <script type="text/javascript" src="js/log.js"></script>
    <script type="text/javascript" src="js/ready_to_send.js"></script>
    <script type="text/javascript" src="js/downloadcounter.js"></script>
</html>
