<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../head.ejs %>
</head>

<body ng-controller="placeController">
    <% include ../message_log.ejs %>
    <div class="container" ng-init="initializePlaces(null, ' <%= JSON.stringify(place) %>')">
        <div class="header">
            <h1> Nuevo lugar {{selectedPlace.name}}</h1>
        </div>

        <br>

        <% include partials/form.ejs %>

        <button class="btn" ng-click="createPlace(selectedPlace)"> Crear </button>
    </div>
    <% include ../scripts.ejs %>
    <% include partials/places_scripts.ejs %>

</body>

</html>
