<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../partials/head.ejs %>
</head>

<body ng-controller="placeController">
    <% include ../partials/message_log.ejs %>
        <%= include ../partials/navbar.ejs %>

            <div id="page-wrapper" ng-init="initializePlaces(null, ' <%= JSON.stringify(place) %>')">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">{{selectedPlace.name}}</h1>
                  </div>
              </div>
                <br>

                <% include partials/form.ejs %>

                    <button class="btn" ng-click="updatePlace(selectedPlace)"> Guardar cambios </button>

            </div>
            <% include ../partials/scripts.ejs %>
                <% include partials/places_scripts.ejs %>

</body>

</html>
