<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../head.ejs %>
</head>

<body ng-controller="placeController">

  <% include ../message_log.ejs %>
    <div class="container" ng-init="initializePlaces(' <%= JSON.stringify(places) %>', null)">
        <div class="header">
            <h1>Índice de lugares</h1>
        </div>

        <br>
        <ul ng-repeat="place in places">
            <li>
            <h6> Nombre: {{ place.name }} </h6>
            <p> Descripción: {{place.description}} </p>
            <p> Status: {{place.status}} </p>
            <p> Admin. mail: {{place.email}} </p>
            <p> Mail fue confirmado: {{place.email_verified}} </p>
            <p> Descripción: {{place.description}} </p>
            <p> Activo: {{place.is_active}} </p>
            <p> Creado el: {{place.created_at}} </p>
            <p> Visitas diarias: {{place.daily_visits}} </p>

            <a ng-click="setSelectedPlace(place)" href="/places/{{place.id}}"> ver </a>
            <a ng-click="setSelectedPlace(place)" href="/places/{{place.id}}/edit"> editar </a>
            <a ng-if="place.is_active" ng-click="toggleIsActive(place)"> desactivar </a>
            <a ng-if="!place.is_active" ng-click="toggleIsActive(place)"> activar </a>
            </li>
            {{place.is_active}}
            <hr>

        </ul>

        <a class="btn" ng-click="setSelectedPlace(null)" href="/places/new"> Crear nuevo lugar </a>
    </div>
    <% include ../scripts.ejs %>

    <% include partials/places_scripts.ejs %>
</body>

</html>
