<div id="question{{question.id}}" class="panel-collapse collapse in" ng-init="question.showTable = false">
  <bar-chart ng-data='{{getData(question)}}'></bar-chart>
  <br>
  <a ng-if="!question.showTable" ng-click="question.showTable = true" class="btn btn-default btn-block">Mostrar tabla</a>
  <a ng-if="question.showTable" ng-click="question.showTable = false" class="btn btn-default btn-block">Ocultar tabla</a>
  <br>
  <table ng-if="question.showTable" class="table table-hover ">

    <thead>
      <tr>
        <th>Alternativa</th>
        <th>Frecuencia</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="option in question.options | orderBy: 'enumeration'">
        <td>
          {{option.statement}}
        </td>
        <td>
          {{question.metrics[option.enumeration].count}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
