<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../head.ejs %>
</head>

<body ng-controller="surveyController">
    <% include ../message_log.ejs %>
    <div class="container">
        <div class="header">
            <h1> Prueba </h1>
        </div>

        <br>

        <button class="btn" ng-click="respondSurvey()"> Crear </button>
    </div>
    <% include ../scripts.ejs %>
    <% include partials/survey_scripts.ejs %>

</body>

</html>
