<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../partials/head.ejs %>
</head>

<body ng-controller="surveyController">

    <% include ../partials/message_log.ejs %>

        <div id="wrapper">

            <%= include ../partials/navbar.ejs %>

                <div id="page-wrapper" ng-init="initializeSurveys(' <%= JSON.stringify(surveys) %>', null)">
                    <!-- /.row -->
                    <div class="header">
                        <h1>Índice de Encuestas</h1>
                    </div>

                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="survey in surveys">
                                    <td>
                                        <span class="glyphicon glyphicon-file"></span> {{survey.title}}
                                    </td>
                                    <td class="text-right text-nowrap">
                                        <a class="pull-right red icon-list-holder"><i class="fa fa-trash"></i></a>
                                        <a ng-click="toggleIsActive(survey)" class="pull-right dark-red icon-list-holder"  ng-if="survey.is_active" ><i class="fa fa-ban"></i></a>
                                        <a ng-click="toggleIsActive(survey)" class="pull-right dark-green icon-list-holder"  ng-if="!survey.is_active" ><i class="fa fa-check"></i></a>
                                        <a ng-click="setSelectedSurvey(survey)" href="/surveys/{{survey.id}}/edit" class="pull-right orange icon-list-holder"><i class="fa fa-edit"></i></a>
                                        <a ng-click="" class="pull-right blue icon-list-holder" href="/surveys/{{survey.id}}/metrics" ><i class="fa fa-line-chart"></i></a>
                                        <a ng-click="setSelectedSurvey(survey)" href="/surveys/{{survey.id}}" ng-click="setSelectedSurvey(survey)" class="pull-right green icon-list-holder"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- /#page-wrapper -->

        </div>

        <% include ../partials/scripts.ejs %>

            <% include partials/surveys_scripts.ejs %>
</body>

</html>
