<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../partials/head.ejs %>
</head>

<body ng-controller="surveyIndexController">

    <% include ../partials/message_log.ejs %>

        <div id="wrapper">

            <%= include ../partials/navbar.ejs %>

                <div id="page-wrapper" ng-init="initializeSurveys(' <%= JSON.stringify(surveys) %>', null)">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Índice</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Buscar..." ng-model="myFilter.title" />
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">

                        <table class="table table-hover" ng-init="myFilter.is_active =  <%= show_active %>">
                            <thead>
                                <th ng-click="orderByMe('created_at')"> Fecha </th>
                                <th ng-click="orderByMe('title')"> Nombre </th>
                                <th ng-click="orderByMe('questions')"> # Preguntas </th>
                                <th ng-click="orderByMe('totalResponses')"> # Respuestas </th>

                                <th class="text-right"> Acciones </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="survey in surveys | orderBy:myOrderBy | filter:  myFilter">
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span> {{survey.created_at | date}}
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-file"></span> {{survey.title}}
                                    </td>
                                    <td class="text-center">
                                        {{survey.questions.length}}
                                    </td>
                                    <td class="text-center" ng-init="getTotalResponses(survey)">
                                      <span ng-if="survey.totalResponses" class="percent">{{survey.totalResponses}}</span>
                                      <span ng-if="!survey.totalResponses" class="percent"><i class="fa fa-spinner fa-pulse fa-fw"></i>
                                    </td>
                                    <td class="text-right text-nowrap">
                                        <a ng-click="delete(survey)" class="pull-right red icon-list-holder"><i class="fa fa-trash"></i></a>
                                        <a ng-click="toggleIsActive(survey)" class="pull-right dark-red icon-list-holder" ng-if="survey.is_active"><i class="fa fa-ban"></i></a>
                                        <a ng-click="toggleIsActive(survey)" class="pull-right dark-green icon-list-holder" ng-if="!survey.is_active"><i class="fa fa-check"></i></a>
                                        <a ng-click="setSelectedSurvey(survey)" href="/surveys/{{survey.id}}/edit" class="pull-right orange icon-list-holder"><i class="fa fa-edit"></i></a>
                                        <a ng-click="" class="pull-right blue icon-list-holder" href="/surveys/{{survey.id}}/metrics"><i class="fa fa-line-chart"></i></a>
                                        <a ng-click="setSelectedSurvey(survey)" href="/surveys/{{survey.id}}" ng-click="setSelectedSurvey(survey)" class="pull-right green icon-list-holder"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- /#page-wrapper -->

        </div>

        <% include ../partials/scripts.ejs %>

            <% include partials/surveys_scripts.ejs %>
</body>

</html>
