<html ng-app="accionet-web-app">

<head>
    <title>Lugares - Accionet</title>
    <% include ../partials/head.ejs %>


        <!-- Morris Charts CSS -->
        <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

</head>

<body ng-controller="surveyController">
    <% include ../partials/message_log.ejs %>
        <%= include ../partials/navbar.ejs %>

            <div id="page-wrapper" ng-init="initializeSurveys(null, ' <%= JSON.stringify(survey) %>',' <%= null %>') ">
                <div class="header">
                    <h1>{{selectedSurvey.title}}</h1>
                </div>

                <div>
                    <h3> {{selectedSurvey.description}} </h3>
                    <h3> creada el: {{selectedSurvey.created_at}} </h3>
                </div>

                <div>
                    <h2> Preguntas </h2>





                    <div ng-repeat="question in selectedSurvey.questions">
                        <!--Multiple_choice  -->
                        <div ng-if="!'multiple_choice'.localeCompare(question.type)">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        {{question.number}}) {{question.title}}
                                    </div>
                                    {{}}
                                    <pie-chart ng-data = '{{getData(question)}}' ></pie-chart>

                                    <!-- /.panel-heading -->
                                    <!-- <div class="panel-body">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-pie-chart"></div>
                                        </div>
                                    </div> -->
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>

                            <table class="table table-hover ">

                                <thead>
                                    <tr>
                                        <th>Opción</th>
                                        <th> Cantidad </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="option in question.options">
                                        <td>
                                            {{option.statement}}
                                        </td>
                                        <td>
                                            {{question.metrics[option.enumeration].count}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <br>


                </div>

                <% include ../partials/scripts.ejs %>
                    <% include partials/surveys_scripts.ejs %>

                        <!-- Flot Charts JavaScript -->
                        <script src="/vendor/flot/excanvas.min.js"></script>
                        <script src="/vendor/flot/jquery.flot.js"></script>
                        <script src="/vendor/flot/jquery.flot.pie.js"></script>
                        <script src="/vendor/flot/jquery.flot.resize.js"></script>
                        <script src="/vendor/flot/jquery.flot.time.js"></script>
                        <script src="/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
                        <!-- <script src="/data/flot-data.js"></script> -->
                        <!-- <script src="/prueba.js"></script> -->





</body>

</html>
