<!DOCTYPE html>
<html ng-app="accionet-web-app">

<head>
    <% include ../partials/head %>
        <title>Accionet</title>
</head>

<body ng-controller="surveyController">
    <% include ../partials/message_log.ejs %>
        <%= include ../partials/navbar.ejs %>
            <div id="page-wrapper">
                <!-- set the course. Note that it has to be a string, otherwise it throws an error -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"> Crear Encuesta </h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <input class="form-control" id="titulo" ng-model="title" placeholder="Ingrese el título de la encuesta">
                                        </div>
                                    </form>
                                </div>
                                <div class="pull-right">
                                    <!-- <button class="btn btn-success" ng-click = "createTemplate()">Guardar Planilla</button> -->
                                    <button class="btn btn-primary" ng-click="createSurvey()">Guardar Encuesta</button>
                                </div>
                                <h6 ng-if="error" class="error">
                              {{ error}}
                            </h6>
                                <h6 ng-if="success" class="success">
                                {{ success}}
                            </h6>
                            </div>

                            <div class="panel-body clearfix">
                                <div class="top-margin" ng-repeat="question in questions">
                                    <div class="form-group ">
                                        <!-- show the question number i.e. "Pregunta 1" -->
                                        <label>Pregunta {{questions.indexOf(question) + 1}}</label>
                                        <i class="fa fa-times fa-fw pull-right" ng-click="deleteQuestion(question)"></i>

                                    </div>
                                    <!-- display the question if it is multipleChoice -->
                                    <div ng-if="question.type == MULTIPLE_CHOICE">
                                        <% include /question/create-multiple-choice.ejs %>
                                    </div>
                                    <!-- display the question if it is a yes no question -->
                                    <div ng-if="question.type == YES_NO">
                                        <% include /question/create-yes-no.ejs %>
                                    </div>
                                    <!-- display the question if it is a short answer question -->
                                    <div ng-if="question.type == SHORT_ANSWER">
                                        <% include /question/create-short-answer.ejs %>
                                    </div>
                                    <!-- display the question if it is a long answer question -->
                                    <div ng-if="question.type == LONG_ANSWER">
                                        <% include /question/create-long-answer.ejs %>
                                    </div>
                                    <!-- display the question if it is a numeric question -->
                                    <div ng-if="question.type == NUMERIC">
                                        <% include /question/create-numeric.ejs %>
                                    </div>

                                </div>

                                <!-- show the 'no questions' whe there is no questions in the activity -->
                                <h6 class="empty-list" ng-if="questions.length == 0">
                                No hay preguntas. Elija bajo 'Agregar Pregunta' que tipo de pregunta desea agregar.
                            </h6>
                                <div class="pull-right">
                                    <!-- <button class="btn btn-success" ng-click = "createTemplate()">Guardar Planilla</button> -->
                                    <button class="btn btn-primary" ng-click="createSurvey()">Guardar Encuesta</button>
                                </div>
                                <h6 ng-if="error" class="error">
                              {{ error}}
                            </h6>
                                <h6 ng-if="success" class="success">
                                {{ success}}
                            </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-question fa-fw"></i> Agregar Pregunta
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item pressable" ng-click="addQuestion(MULTIPLE_CHOICE)">
                                        <i class="fa fa-asterisk fa-fw"></i> Pregunta de Alternativas
                                    </li>
                                    <li class="list-group-item pressable" ng-click="addQuestion(YES_NO)">
                                        <i class="fa fa-asterisk fa-fw"></i> Si o No
                                    </li>
                                    <li class="list-group-item pressable" ng-click="addQuestion(NUMERIC)">
                                        <i class="fa fa-asterisk fa-fw"></i> Numerica
                                    </li>
                                    <li class="list-group-item pressable" ng-click="addQuestion(SHORT_ANSWER)">
                                        <i class="fa fa-asterisk fa-fw"></i> Respuesta Corta
                                    </li>
                                    <li class="list-group-item pressable" ng-click="addQuestion(LONG_ANSWER)">
                                        <i class="fa fa-asterisk fa-fw"></i> Comentario
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->

            <% include ../partials/scripts.ejs %>
                <% include partials/surveys_scripts.ejs %>



</body>

</html>
