<!DOCTYPE html>
<html lang="es">

  <head>

    <title>dashboard - Accionet</title>

    <%= include partials/head.ejs %>

  </head>

  <body ng-app="accionet-web-app">

    <div id="wrapper">

      <%= include partials/navbar.ejs %>

      <div id="page-wrapper" ng-controller="dashboardController">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Accionet</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-university fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" ng-init="count('places')">
                    <div ng-if="places.loading" class="huge">
                      <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                    <div ng-if="!places.loading" class="huge">{{places.count}}</div>
                    <div>Lugares</div>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right">
                    <i class="fa fa-university"></i>
                  </span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-question-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" ng-init="count('surveys')">
                    <div ng-if="surveys.loading" class="huge">
                      <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                    <div ng-if="!surveys.loading" class="huge">{{surveys.count}}</div>
                    <div>Encuestas</div>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right">
                    <i class="fa fa-question-circle"></i>
                  </span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" ng-init="count('visits')">
                    <div ng-if="visits.loading" class="huge">
                      <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                    <div ng-if="!visits.loading" class="huge">{{visits.count}}</div>
                    <div>Visitas</div>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right">
                    <i class="fa fa-users"></i>
                  </span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-square fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" ng-init="count('responses')">
                    <div ng-if="responses.loading" class="huge">
                      <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                    <div ng-if="!responses.loading" class="huge">{{responses.count}}</div>
                    <div>Respuestas</div>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right">
                    <i class="fa fa-check-square"></i>
                  </span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%= include partials/scripts.ejs %>

    <!-- Angular controllers -->
    <script src="/javascripts/angular/controllers/dashboard-controller.js"></script>

  </body>

</html>
