<!DOCTYPE html>
<html ng-app="accionet-web-app">
  <head>
    <title>Hotspot</title>
    <link href="/stylesheets/hotspot_render.css" rel="stylesheet">
    <link href="/vendor/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet"  />
  </head>

  <body class="container-fluid" ng-controller="newHotspotController">

    <section class="row">
      <div class="col-lg-6 screen" id="hotspotContainer"></div>
      <div class="col-lg-6">
        <div class="btn btn-default btn-file">
          Subir imagen
          <input type="file" id="image-upload">
        </div>

        <div class="big-text">
          <span class="change_size" data-width='375' data-height='667' data-name="mobile">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </span>
          <span class="change_size" data-width='1024' data-height='768' data-name="tablet">
            <i class="fa fa-tablet" aria-hidden="true"></i>
          </span>
          <span class="change_size" data-width='1280' data-height='800' data-name="computer">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </span>
          <span class="rotate">
            <i class="fa fa-rotate-right" aria-hidden="true"></i>
          </span>

        </div>

        <div id="cp3" class="input-group colorpicker-component">
            <input type="text" value="#00AABB" class="form-control" />
            <span class="input-group-addon"><i></i></span>
        </div>



      </section>

      <script src="/vendor/jquery/jquery.min.js"></script>

      <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
      <script src="/javascripts/hotspot/render.js"></script>
      <script src="/javascripts/hotspot/resize.js"></script>
      <script src="/javascripts/angular/controllers/hotspots/new-ng-controller.js"></script>
      <script src="/vendor/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
      <script>
          $(function() {
              $('#cp3').colorpicker({
                  color: '#AA3399',
                  format: 'rgb'
              });
          });
      </script>

    </body>
  </html>
